[Desktop Entry]
Type=Application
Version=1.0
Name=Scratch 2
Comment=Scratch 2 programming environment
TryExec=/usr/lib/electron/electron
Exec=/usr/bin/scratch2
Icon=scratch2
Terminal=false
Categories=Application;Development;
MimeType=application/x-scratch2
NoDisplay=true
